# Spark Overview

Apache Spark is a unified analytics engine for large-scale data processing. It provides high-level APIs in Java, Scala, Python and R, and an optimized engine that supports general execution graphs. It also supports a rich set of higher-level tools including Spark SQL for SQL and structured data processing, MLlib for machine learning, GraphX for graph processing, and Structured Streaming for incremental computation and stream processing.

Main features of Apache Spark:
- Apache Spark achieves high performance for both batch and streaming data, using a state-of-the-art DAG scheduler, a query optimizer, and a physical execution engine
- Spark offers over 80 high-level operators that make it easy to build parallel apps. And you can use it interactively from the Scala, Python, R, and SQL shells
- It powers a stack of libraries including SQL and DataFrames, MLlib for machine learning, GraphX, and Spark Streaming. You can combine these libraries seamlessly in the same application
- It runs on Hadoop, Apache Mesos, Kubernetes, standalone, or in the cloud. It can access diverse data sources

## Pyspark
Pyspark is an interface for Apache Spark in Python. It not only allows you to write Spark applications using Python APIs, but also provides the PySpark shell for interactively analyzing your data in a distributed environment

PySpark supports most of Spark's features such as 
- __Spark SQL and DataFrame__ : Spark SQL is a Spark module for structured data processing. It provides a programming abstraction called DataFrame and can also act as distributed SQL query engine
- __Streaming__ : Running on top of Spark, the streaming feature in Apache Spark enables powerful interactive and analytical applications across both streaming and historical data, while inheriting Sparkâ€™s ease of use and fault tolerance characteristics
- __MLib__ : Built on top of Spark, MLlib is a scalable machine learning library that provides a uniform set of high-level APIs that help users create and tune practical machine learning pipelines
- __Spark Core__ : Spark Core is the underlying general execution engine for the Spark platform that all other functionality is built on top of. It provides an RDD (Resilient Distributed Dataset) and in-memory computing capabilities

PySpark DataFrames are lazily evaluated. They are implemented on top of RDDs. When Spark transforms data, it does not immediately compute the transformation but plans how to compute later. When actions such as collect() are explicitly called, the computation starts.

In [46]:
#Importing pyspark library and establishing Spark session which is the entry point pf PySpark
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [48]:
#Creating a dataframe 
import pandas as pd
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(ID=1, age=25, occupation = 'Data Scientist'),
    Row(ID=2, age=16, occupation = 'Singer'),
    Row(ID=3, age=21, occupation = 'CEO'),
    Row(ID=4, age=22, occupation = 'Doctor'),
    Row(ID=5, age=26, occupation = 'Singer'),
    Row(ID=6, age=21, occupation = 'CEO'),
    Row(ID=7, age=20, occupation = 'Researcher'),
    Row(ID=8, age=19, occupation = 'Doctor'),
    Row(ID=9, age=29, occupation = 'Journalist'),
    Row(ID=10, age=21, occupation = 'Journalist')
    
])
df

+---+---+--------------+
| ID|age|    occupation|
+---+---+--------------+
|  1| 25|Data Scientist|
|  2| 16|        Singer|
|  3| 21|           CEO|
|  4| 22|        Doctor|
|  5| 26|        Singer|
|  6| 21|           CEO|
|  7| 20|    Researcher|
|  8| 19|        Doctor|
|  9| 29|    Journalist|
| 10| 21|    Journalist|
+---+---+--------------+

Resilient Distributed Datasets (RDD) is a fundamental data structure of PySpark, It is an immutable distributed collection of objects. Each dataset in RDD is divided into logical partitions, which may be computed on different nodes of the cluster.

In [49]:
#Creating a pyspark dataframe from an RDD consisting of a list of tuples
rdd = spark.sparkContext.parallelize([
    Row(ID=1, age=25, occupation = 'Data Scientist'),
    Row(ID=2, age=16, occupation = 'Singer'),
    Row(ID=3, age=21, occupation = 'CEO'),
    Row(ID=4, age=22, occupation = 'Doctor'),
    Row(ID=5, age=26, occupation = 'Singer'),
    Row(ID=6, age=21, occupation = 'CEO'),
    Row(ID=7, age=20, occupation = 'Researcher'),
    Row(ID=8, age=19, occupation = 'Doctor'),
    Row(ID=9, age=29, occupation = 'Journalist'),
    Row(ID=10, age=21, occupation = 'Journalist')
])
data = spark.createDataFrame(rdd)
data

+---+---+--------------+
| ID|age|    occupation|
+---+---+--------------+
|  1| 25|Data Scientist|
|  2| 16|        Singer|
|  3| 21|           CEO|
|  4| 22|        Doctor|
|  5| 26|        Singer|
|  6| 21|           CEO|
|  7| 20|    Researcher|
|  8| 19|        Doctor|
|  9| 29|    Journalist|
| 10| 21|    Journalist|
+---+---+--------------+

In [50]:
#Collects the distributed data to the driver side as the local data in python
rdd.collect()

[Row(ID=1, age=25, occupation='Data Scientist'),
 Row(ID=2, age=16, occupation='Singer'),
 Row(ID=3, age=21, occupation='CEO'),
 Row(ID=4, age=22, occupation='Doctor'),
 Row(ID=5, age=26, occupation='Singer'),
 Row(ID=6, age=21, occupation='CEO'),
 Row(ID=7, age=20, occupation='Researcher'),
 Row(ID=8, age=19, occupation='Doctor'),
 Row(ID=9, age=29, occupation='Journalist'),
 Row(ID=10, age=21, occupation='Journalist')]

In [51]:
rdd.getNumPartitions()

8

__Viewing data present in dataframes__

In [52]:
data.show()

+---+---+--------------+
| ID|age|    occupation|
+---+---+--------------+
|  1| 25|Data Scientist|
|  2| 16|        Singer|
|  3| 21|           CEO|
|  4| 22|        Doctor|
|  5| 26|        Singer|
|  6| 21|           CEO|
|  7| 20|    Researcher|
|  8| 19|        Doctor|
|  9| 29|    Journalist|
| 10| 21|    Journalist|
+---+---+--------------+

In [53]:
data.printSchema()

root
 |-- ID: long (nullable = true)
 |-- age: long (nullable = true)
 |-- occupation: string (nullable = true)

In [54]:
#Enabling Eager evaluation mode of pyspark dataframe
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
data

DataFrame[ID: bigint, age: bigint, occupation: string]

In [55]:
data.select("age").describe().show()

+-------+-----------------+
|summary|              age|
+-------+-----------------+
|  count|               10|
|   mean|             22.0|
| stddev|3.741657386773941|
|    min|               16|
|    max|               29|
+-------+-----------------+

__Selecting and Accessing Data__

In [56]:
data.age

Column<'age'>

In [57]:
#Select takes the column instances and returns another dataframe
data.select(data.age).show()

+---+
|age|
+---+
| 25|
| 16|
| 21|
| 22|
| 26|
| 21|
| 20|
| 19|
| 29|
| 21|
+---+

In [58]:
#Assigning new column instance
from pyspark.sql.functions import upper
data.withColumn('Upper_occupation', upper(data.occupation)).show()

+---+---+--------------+----------------+
| ID|age|    occupation|Upper_occupation|
+---+---+--------------+----------------+
|  1| 25|Data Scientist|  DATA SCIENTIST|
|  2| 16|        Singer|          SINGER|
|  3| 21|           CEO|             CEO|
|  4| 22|        Doctor|          DOCTOR|
|  5| 26|        Singer|          SINGER|
|  6| 21|           CEO|             CEO|
|  7| 20|    Researcher|      RESEARCHER|
|  8| 19|        Doctor|          DOCTOR|
|  9| 29|    Journalist|      JOURNALIST|
| 10| 21|    Journalist|      JOURNALIST|
+---+---+--------------+----------------+

In [59]:
#Selecting a subset of rows
data.filter(data.age == 21).show()

+---+---+----------+
| ID|age|occupation|
+---+---+----------+
|  3| 21|       CEO|
|  6| 21|       CEO|
| 10| 21|Journalist|
+---+---+----------+

In [60]:
data.groupby('occupation').avg().show()

+--------------+-------+--------+
|    occupation|avg(ID)|avg(age)|
+--------------+-------+--------+
|        Singer|    3.5|    21.0|
|           CEO|    4.5|    21.0|
|Data Scientist|    1.0|    25.0|
|    Researcher|    7.0|    20.0|
|    Journalist|    9.5|    25.0|
|        Doctor|    6.0|    20.5|
+--------------+-------+--------+

__Getting data in/out__

CSV is straightforward and easy to use. Parquet and ORC are efficient and compact file formats to read and write faster. There are many other data sources available in PySpark such as JDBC, text, binaryFile, Avro, etc.

JSON format:

{"id": 1, "first_name": "Matthew", "last_name": "Rathbone", "age": 19, "cool": true, "favorite_fruit": ["bananas", "apples"]}
{"id": 2, "first_name": "Joe", "last_name": "Bloggs", "age": 102, "cool": true, "favorite_fruit": null}

This is the format of the columnar format:

Field Name/Field Type/Number of Characters:[data in csv format]

ID/INT/3:1,2
FIRST_NAME/STRING/11:Matthew,Joe
LAST_NAME/STRING/15:Rathbone,Bloggs
AGE/INT/6:19,102
COOL/BOOL/3:1,1
FAVORITE_FRUIT/ARRAY[STRING]/19:[bananas,apples],[]

__Working with SQL__

DataFrame and Spark SQL share the same execution engine so they can be interchangeably used seamlessly. For example, you can register the DataFrame as a table and run a SQL easily as below:

In [61]:
data.createOrReplaceTempView("tableA")
spark.sql("SELECT * from tableA").show()

+---+---+--------------+
| ID|age|    occupation|
+---+---+--------------+
|  1| 25|Data Scientist|
|  2| 16|        Singer|
|  3| 21|           CEO|
|  4| 22|        Doctor|
|  5| 26|        Singer|
|  6| 21|           CEO|
|  7| 20|    Researcher|
|  8| 19|        Doctor|
|  9| 29|    Journalist|
| 10| 21|    Journalist|
+---+---+--------------+

These SQL expressions can directly be mixed and used as PySpark columns.

In [63]:
from pyspark.sql.functions import expr

data.select(expr('count(*)') > 0).show()

+--------------+
|(count(1) > 0)|
+--------------+
|          true|
+--------------+